@{
    ViewData["Title"] = "PassUsingViewData";
}

<div>
    <h1 class="display-4"><b>PassUsingViewData</b></h1>
    <div><b>Rand Value First : @ViewData["first"]</b></div>
    <div><b>Rand Value Second : @ViewData["second"]</b></div>
    <div><b>Add :</b><br />@ViewData["first"] + @ViewData["second"] = @ViewData["add"]</div>
    <div><b>Sub :</b><br />@ViewData["first"] - @ViewData["second"] = @ViewData["sub"]</div>
    <div><b>Mult :</b><br />@ViewData["first"] * @ViewData["second"] = @ViewData["mult"]</div>
    <div><b>Div :</b><br />@ViewData["first"] / @ViewData["second"] = @ViewData["div"]</div>
</div>
