@{
    ViewData["Title"] = "PassUsingViewBag";
}

<div>
    <h1 class="display-4"><b>PassUsingViewBag</b></h1>
    <div><b>Rand Value First : @ViewBag.first</b></div>
    <div><b>Rand Value Second : @ViewBag.second</b></div>
    <div><b>Add :</b><br />@ViewBag.first + @ViewBag.second = @ViewBag.add</div>
    <div><b>Sub :</b><br />@ViewBag.first - @ViewBag.second = @ViewBag.sub</div>
    <div><b>Mult :</b><br />@ViewBag.first * @ViewBag.second = @ViewBag.mult</div>
    <div><b>Div :</b><br />@ViewBag.first / @ViewBag.second = @ViewBag.div</div>
</div>
